<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>

	<logger name="de.evoila.osb" level="DEBUG" />

	<logger name="de.cloudscale.model" level="INFO" />

	<logger name="org.springframework.core" level="INFO" />

	<logger name="org.springframework.beans" level="INFO" />

	<logger name="org.springframework.context" level="INFO" />

	<logger name="org.springframework.web" level="DEBUG" />

	<logger name="org.springframework.security" level="INFO" />

</configuration>
